.offices {
  padding: 10px;
}

.offices-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Default to 6 columns */
  margin-top: 100px;
  gap: 10px; /* Space between items */
}

.offices-content img {
  width: 90%; /* Adjust width to keep images smaller */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover without stretching */
  margin: 20px auto; /* Center images and add vertical margin */
  max-width: 150px; /* Max width to control image size */
  transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  border: 2px solid transparent; /* Default border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default shadow */
}

.offices-content img:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  border: 0.5px solid rgb(136, 84, 11); /* Change border color on hover */
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1); /* Increase shadow on hover */
}

.offices h1 {
  position: relative; /* Change to relative */
  text-align: center; /* Center text */
  font-size: 2.5rem; /* Large font size */
  color: #333; /* Dark text */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 2;
  margin-top: 70px; /* Added margin to separate from the search bar */
  margin-bottom: 10px; /* Space below heading */
}

/* Responsive Styles for Grid */
@media (max-width: 1200px) {
  .offices-content {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (max-width: 992px) {
  .offices-content {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 768px) {
  .offices-content {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 506px) {
  .offices-content {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }

  .offices h1 {
    font-size: 20px; /* Smaller heading */
    margin-top: 40px; /* Increase space above heading */
  }
}
